div.cards
            div.card 
                h3 What we do?
                img(src="/images/contest.jpg", alt="#").con_img
                p We encourage students to participate in different contests and hackathons.
            div.card 
                h3 What we have?
                img(src="/images/mentor.jpg", alt="#").con_img
                p An awesome team of Mentors and Supporters for the club members to help them in every point of their programming journey.
            div.card 
                h3 Why we do?
                img(src="/images/community.jpg", alt="#").con_img
                p For the betterment of our student community and to provide them the best oppurtunities and guidance.