extends index.pug 

block css
    link(rel="stylesheet", href="/css/about.css")
block js 
    script(src="/js/about.js") 

block about 

    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2789858507890186" crossorigin="anonymous")
    