extends index.pug

block css 
    link(rel="stylesheet", href="/css/home.css")
block js 
    script(src="/js/home.js") 


block home
    div.intro_cont 
        p#ic_1 Developer Student Club 
        p#ic_2 CTAE, Udaipur 
        p#ic_3 A place where oppurtunities are found and future is made
    
    div.home_cont 
        div.cards
            div.card 
                h3 What we do?
                img(src="/images/contest.jpg", alt="#").con_img
                p We encourage students to participate in different contests and hackathons.
            div.card 
                h3 What we have?
                img(src="/images/mentor.jpg", alt="#").con_img
                p An awesome team of Mentors and Supporters for the club members to help them in every point of their programming journey.
            div.card 
                h3 Why we do?
                img(src="/images/community.jpg", alt="#").con_img
                p For the betterment of our student community and to provide them the best oppurtunities and guidance.
        
        div.enroll
            h1 So, what are you waiting for, enroll now! 
            div#enroll_btn Enroll