.intro_cont{
    height: 100vh;
    width: auto;
    background-image: url('/images/bimg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro_cont p {
    font-size: 4rem;
}

#ic_1{
    font-size: 6rem ;
}
#ic_2{
    font-size: 2.5rem;
}
#ic_3{
    font-size: 2rem;
}

.home_cont{
    display: flex;
    flex-direction: column;

}


/* Slideshow */

.slideshow{
    max-width: 95%;
    margin: auto;
    
}

.slide{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con_img{
    display: block;
    width: 60%;
    height: auto;
    align-content: center;
    
}
h3{
    position: relative;
    top: 65px;
}
p{
    position: relative;
    bottom: 20px;  
}
.prev, .next{
    position: absolute;
    bottom: 50%;
    cursor: pointer;
    color: white;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .line {
    cursor: pointer;
    height: 3px;
    width: 50px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


.enroll{
    background-image: url('/images/enroll.jpg');
    background-size: cover;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#enroll_btn{
    font-size: 2rem;
    padding: 0.8rem;
    margin: 1.4rem;
    background-color: orange;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
  
    
}
#enroll_btn:hover{
    color: orange;
    background-color: white;
}